# Auto detect text files and perform LF normalization
* text=auto
*.res eol=crlf
*.txt eol=crlf
*.cfg eol=crlf
*.vmt eol=crlf

# proper language detection
*.vdf linguist-detectable=true
*.res linguist-detectable=true linguist-language=Valve_Data_Format
*.txt linguist-detectable=true linguist-language=Valve_Data_Format
*.vmt linguist-detectable=true linguist-language=Valve_Data_Format

# Do not export these files on download
.gitattributes export-ignore
.gitignore export-ignore
.git export-ignore
README.md export-ignoreds
CONTRIBUTING.md export-ignored
